<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
  <title>codesandbox</title>
  <style>
    .container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      line-height: 2;
    }
  </style>
</head>

<body>
  <div class="container">
    <a href="https://baidu.com">打开百度</a>
    <a href="https://mobile.coolcollege.cn">打开酷学院</a>
    <a
      href="https://t5mobile.coolcollege.cn/sub-sys/mobile-outside/test5/all#/article?access_token=9203608ba9c543fa88fae3caa1bd53de&articleId=1794931845276766208&courseId=1794931845280960512&from=course&gotoType=imgText">打开图文课</a>
    <a
      href="dingtalk://dingtalkclient/page/link?spm=ding_open_doc.document.0.0.2ddb1a49GzfAMR&url=https%3A%2F%2Fsedgwickz.gitlab.io%2Fhello-iframe%2Fpage1.html">跳转全屏</a>
    <a href="https://sedgwickz.gitlab.io/hello-iframe/page1.html">选择群成员</a>
    <!-- <a href="https://sedgwickz.gitlab.io/hello-iframe/page2.html">自定义长页面</a> -->
  </div>

  <div class="container">
    <div>自定义跳转链接</div>
    <div><input id="urlInput" type="text" style="width: 100%;"/></div>
    <div><button id="halfBtn">前往半屏</button> <button id="fullBtn">前往全屏</button></div>
  </div>

  <script>
    // const callParentBtn = document.getElementById("callParentBtn");
    //   callParentBtn.addEventListener('click', function() {
    //     //parent.window.sayBye()
    //     window.parent.postMessage('close', '*')
    //   })

    function getInputUrl() {
      return document.getElementById("urlInput").value
    }

    document.getElementById("halfBtn").onclick = function() {
      let url = "dingtalk://dingtalkclient/action/im_open_hybrid_panel?spm=ding_open_doc.document.0.0.2ddb1a49GzfAMR&panelHeight=percent60&hybridType=online&pageUrl="
      url = `${url}${getInputUrl()}`
      console.log(url)
      location.href = url
    }

    document.getElementById("fullBtn").onclick = function() {
      let url = "dingtalk://dingtalkclient/page/link?spm=ding_open_doc.document.0.0.2ddb1a49GzfAMR&url="
      url = `${url}${getInputUrl()}`
      console.log(url)
      location.href = url
    }

  </script>
</body>

</html>
