<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
  <title>codesandbox</title>
  <style>
    .container {
      line-height: 4;
    }
  </style>
</head>

<body>
  <div>选择群成员</div>
  <div class="container">
    <div class="item">小明</div>
    <div>小明</div>
    <div>小明</div>
    <div>小明</div>
    <div>小明</div>
    <div>小明</div>
    <div>小明</div>
    <div>小明</div>
    <div>小明</div>
    <div>小明</div>
    <div>小明</div>
    <div>小明</div>
  </div>
</body>

</html>
